html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page-layout:has(.admin-dashboard) {
  padding: 0;
  margin: 0;
  min-height: unset;
  background: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ensure page-layout takes full height of its parent (body) */
}

.content {
  flex: 1;
}